/*settings*/



/*:root {
  --screen: calc(1em + 100vw/1000);
}

	html, body {height: 100%}

	body {
		background-color: #856ed7;
		line-height: 2em;
		font-family: 'Roboto', sans-serif;
		font-size: var(--screen);
		margin: 0;
		background: -webkit-linear-gradient(-45deg, #856ed8 0%,#2329ae 100%) fixed;
		font-weight: 300;
		color: #2a2e33
	}

	body * {
		font-size: var(--screen);
	}


	* {
		position: relative;
		box-sizing: border-box;
	}

	main {
		height: 100%;
		display: flex;
		margin: auto;
		padding: 2em;
	}
*/




/* form */

/*	.form {
		width: 100%;
		display: flex;
		flex-direction: row;
		    flex-wrap: wrap;
		background-color: #FFF;
		border-radius: .3em;
		max-width: calc(1440px + 0em);
		margin: auto;
		box-shadow: 0 0 5em 0em rgb(37, 36, 113);
	}

	.form a {text-decoration: none; color: #5b50c6;}


	section {
		flex: 1 0 50%;
		display: flex;
		flex-direction: column;
	}

	section .container {
		padding: 2em;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-self: stretch;
		justify-content: space-between;
	}

	legend {
		padding: .3em 0 1em .8em;
		letter-spacing: -0.05em;
		font-size: 220%;
		font-weight: 900;
		color: #171b20;
		white-space: nowrap;
	}
*/

	fieldset {
		display: flex;
		flex-direction: column;
		border: 0;
		padding: 0;
	}

	fieldset input,
	fieldset option,
	fieldset select
	 {
	    padding: var(--screen) 0;
	    margin: 0 0 1.5em 0;
	    flex: 1;
	    width: 100%;
	    height: 4.2em;
	    text-indent: var(--screen);
	    border: .1em solid #abb4bd;
	    border-radius: .3em;
	    outline: none;
	}


	input:focus {
		    border: .1em solid #555;
	}

	input ~ .placeholder,
	select ~ .placeholder  {
		position: absolute;
		color: #808890;
		top: 1em;
		line-height: 0em;
		font-weight: 600;
		padding: var(--screen) 0;
		text-indent: var(--screen);
		transition: .1s ease;
	}
	input:valid ~ .placeholder,
	select:valid ~ .placeholder {
		top: .0;
		font-weight: 400;
		font-size: 90%;
	}

	input[required] + span:after {
		content: '✱';
		height: 1em;
		width: 1em;
		display: block;
		color: #d21010;
		position: absolute;
		right: -1.5em;
		top: 0;
	}

	input[type="tel"] + span:after {display: none}




/* LEFT */


input[type="password"] {
	background: url(./img/eye.png) no-repeat right;
}

select {
	background: url(./img/arrow.png) no-repeat right;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
}


.gender {
	display: flex;
	height: 3em;
}

.gender:before {
	content: '';
	width: 3.6em;
	height: 2.06em;
	border: .1em solid #8a7d7d;
	border-radius: 3em;
	position: absolute;
	left: calc(50% - 1.8em);
}

.gender label {
	flex:1;
	cursor: pointer;
}
.gender label span {
	line-height: 1.8em;
}

.gender label:first-child input {
	float:right;
	margin: 0 0 0 1.8em;
}
.gender label:last-child input {
	float:left;
	margin: 0 1.8em 0 0;
}

.gender label:first-child {
	text-align: right;
}

.gender input {
	margin: 0;
	flex: none;
	width: 1em;
	height: 1.8em;
	cursor: pointer;
	opacity: 0;
	transition: none;
}

.gender input:checked {
	opacity: 1;
}

.gender input:checked:after {
	content: '';
	opacity: 1;
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	border-radius: 100%;
	background-color: #5b50c6;
	border: .1em solid #FFF;
	position: absolute;
	left: calc(50% + -0.8em);
	top: calc(50% + -0.8em);
	z-index: 20;
}



.gender input:checked ~ span {
	color: #5b50c6
}



/* RIGHT */


	.photo {
		    margin: 0 0 auto 0;
	}

	.photo input{
		display: none;
	}

	.photo label {
		cursor: pointer;
		display: block;
		background-color: #ffc739;
		color: #FFF;
		border-radius: .5em .5em 0;
		line-height: 11em;
		font-weight: 600;
		text-align: center;
		    margin: 2em 0;
		margin-right: -2.7em;
		    text-transform: uppercase;
	}

	.photo label:hover {
		background-color: #ffb700;
	}

	.photo label:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -.7em;
		right: 0;
		background: #b58200;
		width: 2em;
		height: .8em;
		border-radius: 0 0 .5em 0;
		z-index: -1;
	}

	.photo label:before {
		content: '';
		width: calc(100% - 3em);
		height: calc(100% - 3em);
		border: .14em dashed #FFF;
		border-radius: .5em;
		position: absolute;
		left: 1.5em;
		top: 1.5em;
	}



	.salut {
	    display: flex;
	    align-items: flex-start;
	    margin: 0 0 auto;
	}

	.salut ol {
		font-weight: 600;
		margin: 0;
		padding: 0 0 0 3em;
	}

	.salut ol li {
		margin-bottom: 1.5em;
		padding: 0 .5em;
	}

	.salut ol span {
	    font-weight: 300
	}



	.agree input {display: none}

	.agree input + .yes {
		border: .08em solid #abb4bd;
		border-radius: .5em;
		width: 1.7em;
		height: 1.8em;
		float: left;
		margin: 0 .6em 3em 0;
		color: #ffc739;
		cursor: pointer;
	}
	.agree input:checked + .yes {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.agree input:checked + .yes:after {
		content: '√';
	}


	button[type="submit"] {
		height: 4em;
		background: #2328ae;
		text-transform: uppercase;
		border: 0;
		border-radius: 2em;
		color: #FFF;
		padding: 1em;
		cursor: pointer;
	}
	button[type="submit"]:hover {
		background:#5b50c6
	}







