* {
  position: relative;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  font-size: calc(1em + 0.1vw);
  background-color: #856ed7;
  line-height: 2em;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: -webkit-linear-gradient(-45deg, #856ed8 0%, #2329ae 100%) fixed;
  font-weight: 300;
  color: #2a2e33;
}
body * {
  margin: 0;
  font-size: calc(1em + 0.1vw);
}
.form_container {
  height: inherit;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto 2em auto;
  padding: 2em;
}
.form_container .form {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #fff;
  border-radius: 0.3em;
  max-width: 1440px;
  margin: auto;
  box-shadow: 0 0 5em 0em #252471;
}
.form_container .form a {
  text-decoration: none;
  color: #5b50c6;
}
.form_container .form section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: inherit;
  max-width: 50%;
  min-width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}
.form_container .form section .container {
  height: inherit;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form_container .form section .container legend {
  padding: 0.3em 0 1em 5%;
  letter-spacing: -0.05em;
  font-size: 220%;
  font-weight: 900;
  color: #171b20;
  white-space: nowrap;
}
.form_container .form section .container .fieldset {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0;
  padding: 0;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.fieldset label {
  margin: 0 0 1.5em 0;
}
.fieldset label input[type='password'] {
  background: url("/img/eye.png") right no-repeat;
}
.fieldset label select#list {
  background: url("/img/arrow.png") right no-repeat;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.fieldset label input,
.fieldset label option,
.fieldset label select#list {
  box-shadow: none;
  padding: 1em 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 4.2em;
  text-indent: 1em;
  border: 0.1em solid #abb4bd;
  border-radius: 0.3em;
  outline: none;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.fieldset label input:valid ~ .placeholder,
.fieldset label option:valid ~ .placeholder,
.fieldset label select#list:valid ~ .placeholder {
  top: 0;
  font-weight: 400;
  font-size: 70%;
}
.fieldset label input:valid:focus,
.fieldset label option:valid:focus,
.fieldset label select#list:valid:focus {
  border: 0.1em solid #555;
}
.fieldset label input:focus:invalid,
.fieldset label option:focus:invalid,
.fieldset label select#list:focus:invalid {
  border: 0.1em solid #d21010;
}
.fieldset label input:focus:invalid ~ .placeholder,
.fieldset label option:focus:invalid ~ .placeholder,
.fieldset label select#list:focus:invalid ~ .placeholder {
  color: #d21010;
}
.fieldset label input ~ .placeholder,
.fieldset label option ~ .placeholder,
.fieldset label select#list ~ .placeholder {
  position: absolute;
  color: #808890;
  top: 1em;
  line-height: 0em;
  font-weight: 600;
  padding: 1em 0;
  text-indent: 1em;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.fieldset label .placeholder_in {
  border: 0.1em solid #abb4bd !important;
}
.fieldset label .placeholder_in ~ .placeholder {
  top: 0 !important;
  font-weight: 400 !important;
  font-size: 70% !important;
}
.fieldset label .placeholder_in:focus {
  border: 0.1em solid #555 !important;
}
.fieldset label .placeholder_out {
  border: 0.1em solid #abb4bd !important;
}
.fieldset label .placeholder_out ~ .placeholder {
  top: 1em !important;
  font-weight: 600 !important;
  font-size: 100% !important;
}
.fieldset label .placeholder_out:focus {
  border: 0.1em solid #555 !important;
}
.fieldset label .placeholder_out:focus ~ .placeholder {
  top: 0 !important;
  font-weight: 400 !important;
  font-size: 70% !important;
}
.fieldset label input[required] span:after {
  content: '\2731';
  height: 1em;
  width: 1em;
  display: block;
  color: #d21010;
  position: absolute;
  right: -1.5em;
  top: 0;
}
.form .gender {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  width: 100%;
}
.form .gender:before {
  content: '';
  width: 3.6em;
  height: 2.06em;
  border: 0.1em solid #8a7d7d;
  border-radius: 3em;
  position: absolute;
  left: calc(50% - 1.8em);
}
.form .gender label {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}
.form .gender label:first-child {
  text-align: right;
}
.form .gender label:first-child input {
  float: right;
  margin: 0 0 0 1em;
}
.form .gender label:last-child input {
  float: left;
  margin: 0 1em 0 0;
}
.form .gender label span {
  line-height: 1.8em;
  word-break: break-all;
}
.form .gender label input {
  margin: 0;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 1em;
  height: 1.8em;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}
.form .gender label input:checked {
  opacity: 1;
}
.form .gender label input:checked:after {
  content: '';
  opacity: 1;
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  background-color: #5b50c6;
  border: 0.1em solid #fff;
  position: absolute;
  left: calc(50% + -0.8em);
  top: calc(50% + -0.8em);
  z-index: 20;
}
.form .gender label input:checked ~ span {
  color: #5b50c6;
}
.form .someinfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.form .someinfo .img {
  min-width: 7em;
  width: 33%;
  height: 7em;
  background: url("/img/pic.png") center top no-repeat;
  background-size: contain;
  margin-bottom: 2em;
}
.form .someinfo ol {
  font-weight: 600;
  margin: 0;
  padding: 0 0 0 3em;
  width: calc(100% - 7em);
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 9em;
      -ms-flex: 1 0 9em;
          flex: 1 0 9em;
}
.form .someinfo ol li {
  margin-bottom: 1.5em;
  padding: 0 0.5em;
}
.form .someinfo ol span {
  font-weight: 300;
}
.form .photo {
  margin: 0 0 auto 0;
}
.form .photo input {
  display: none;
}
.form .photo label {
  cursor: pointer;
  display: block;
  background-color: #ffc739;
  color: #fff;
  border-radius: 0.5em 0.5em 0;
  line-height: 11em;
  font-weight: 600;
  text-align: center;
  margin: 2em 0;
  margin-right: -2.7em;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.form .photo label:hover {
  background-color: #ffb700;
}
.form .photo label:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.7em;
  right: 0;
  background: #b58200;
  width: 2em;
  height: 0.8em;
  border-radius: 0 0 0.5em 0;
  z-index: -1;
}
.form .photo label:before {
  content: '';
  width: calc(100% - 3em);
  height: calc(100% - 3em);
  border: 0.14em dashed #fff;
  border-radius: 0.5em;
  position: absolute;
  left: 1.5em;
  top: 1.5em;
}
.form .agree {
  margin: 0 0 3em 0;
}
.form .agree label {
  cursor: pointer;
}
.form .agree label input {
  display: none;
}
.form .agree label input + .yes {
  border: 0.08em solid #abb4bd;
  border-radius: 0.5em;
  width: 1.7em;
  height: 1.8em;
  float: left;
  margin: 0 0.6em 0;
  color: #ffc739;
  cursor: pointer;
}
.form .agree label input:checked + .yes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  box-shadow: inset 1px 2px 1px #ecdfbe;
}
.form .agree label input:checked + .yes:after {
  content: '\221A';
}
.form button[type="submit"] {
  width: 100%;
  text-align: center;
  height: 4em;
  background: #2328ae;
  text-transform: uppercase;
  border: 0;
  border-radius: 2em;
  color: #fff;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.form button[type="submit"]:hover {
  background: #5b50c6;
}
@media (max-width: 768px) {
  .form_container .form section {
    max-width: 100%;
  }
}
