.fieldset
		
	label
		height 4.2em
		margin 0 0 1.5em 0

		input[type="password"] 
			background url('/img/eye.png') right no-repeat 
		
		select#list 
			background url('/img/arrow.png') right no-repeat 
			appearance none
			-webkit-appearance none
			cursor pointer
			
		input, option, select#list
			padding var(--screen) 0
			flex 1
			width 100%
			height 4.2em
			text-indent var(--screen)
			border .1em solid #abb4bd
			border-radius .3em
			outline none
			transition var(--transition)

				
			&:focus, &:valid:focus, &:valid:not(#list)
				border .1em solid #555
			
				~ .placeholder
					top 0
					font-weight 400
					font-size 70%
					
				&:invalid
					border .1em solid #d21010
					~ .placeholder
						color #d21010

			~ .placeholder
				position absolute
				color #808890
				top 1em
				line-height 0em
				font-weight 600
				padding var(--screen) 0
				text-indent var(--screen)
				transition var(--transition)
				cursor pointer



		.placeholder_in
			border .1em solid #abb4bd !important	
			~ .placeholder 
				top 0 !important
				font-weight 400 !important
				font-size 70% !important
			&:focus
				border .1em solid #555 !important
		.placeholder_out
			border .1em solid #abb4bd !important	
			~ .placeholder 
				top 1em !important
				font-weight 600 !important
				font-size 100% !important
		
			&:focus
				border .1em solid #555 !important
				~ .placeholder
					top 0  !important
					font-weight 400  !important
					font-size 70%  !important
					


		input[required] // добаволяю звездочки *
			& + span
				&:after
					content '✱'
					height 1em
					width 1em
					display block
					color #d21010
					position absolute
					right -1.5em
					top 0
			


				
@import '/gender.styl'