.fieldset
		
	label
		margin 0 0 1.5em 0

		input[type='password'] 
			background url('/img/eye.png') right no-repeat 
		
		select#list 
			background url('/img/arrow.png') right no-repeat 
			appearance none
			-webkit-appearance none
			cursor pointer

		input, option, select#list
			box-shadow none
			padding 1em 0
			flex 1
			width 100%
			height 4.2em
			text-indent 1em
			border .1em solid $form_grey_light
			border-radius .3em
			outline none
			transition $transition

			&:valid
				~ .placeholder
					top 0
					font-weight 400
					font-size 70%

				&:focus
					border .1em solid $form_grey_focus
			&:focus:invalid
				border .1em solid $form_red
				~ .placeholder
					color $form_red

			~ .placeholder
				position absolute
				color #808890
				top 1em
				line-height 0em
				font-weight 600
				padding 1em 0
				text-indent 1em
				transition $transition



		.placeholder_in
			border .1em solid $form_grey_light !important	
			~ .placeholder 
				top 0 !important
				font-weight 400 !important
				font-size 70% !important
			&:focus
				border .1em solid $form_grey_focus !important
		.placeholder_out
			border .1em solid $form_grey_light !important	
			~ .placeholder 
				top 1em !important
				font-weight 600 !important
				font-size 100% !important

			&:focus
				border .1em solid $form_grey_focus !important
				~ .placeholder
					top 0  !important
					font-weight 400  !important
					font-size 70%  !important



		input[required] // добаволяю звездочки *
			span
				&:after
					content '✱'
					height 1em
					width 1em
					display block
					color $form_red
					position absolute
					right -1.5em
					top 0


				
@import '/gender.styl'