$set_size = calc(100% + .1vmax)
$form_red = #d21010
$form_grey_focus = #555
$form_grey_light = #abb4bd
$transition = .1s ease


@media (max-width: 768px) 
	.form_container .form section 
		max-width 100%  !important
		flex 1 0 auto !important
		
@import './container.styl'
@import './left.styl'
@import './right.styl'